<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}" class="main-title">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
      <p>Just a Physicist who wants to know why.</p>
    </div>

    <nav class="sidebar-nav">
      <a  class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.url }}/index">Home</a>
      <a  class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.url }}/projectarchive">Projects</a>
      <!-- <a  class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.url }}/postarchive">Posts</a> -->
      <a  class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.url }}/about">About</a>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }} Jared Richard. All rights reserved.</p>
  </div>
</div>
