body {
  font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
  background-color: #1f1f21;
  color: #b1b1b1;
  font-weight: 250;
}

a {
  color: #2771ff;
}

.sidebar {
  font-family: 'Avenir Next', Avenir, 'Helvetica Neue';
  background-color: #28282a;
  box-shadow: -5px 0px 20px 6px #000000;
}

.main-title {
  font-family: 'Avenir Next', Avenir, 'Helvetica Neue';
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #e1e1df;
}

.lead a {
  color: #0057ff;
}

.name:hover {
  color: #CFCFCF;
}